@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<input type="text" id="ip">
<input type="text" id="city">
<input type="text" id="browser">
<input type="text" id="version">

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Manage users
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Manage users</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_1" data-toggle="tab">PTC-Computer</a>
                    </li>
                    <li>
                        <a href="#tab_2" data-toggle="tab">Rose</a>
                    </li>
                    <li class="pull-right">
                        <a href="#" class="text-muted">
                            <i class="fa fa-gear"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <table class="table table-bordered">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Username</th>
                                <th>IP Address</th>
                                <th>City</th>
                                <th>Open in</th>
                                <th>Logged in date</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td>Update software</td>
                                <td>202.40.60.40</td>
                                <td>Phnom Penh</td>
                                <td>Chrome</td>
                                <td>20/01/2023</td>
                                <td>
                                    <button class="badge bg-red">Logout</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <table class="table table-bordered">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Task</th>
                                <th>Progress</th>
                                <th style="width: 40px">Label</th>
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td>Update software</td>
                                <td>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-red">55%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Clean database</td>
                                <td>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-yellow">70%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Cron job running</td>
                                <td>
                                    <div class="progress progress-xs progress-striped active">
                                        <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-light-blue">30%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Fix and squish bugs</td>
                                <td>
                                    <div class="progress progress-xs progress-striped active">
                                        <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
</section>

<script src="~/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    // fetch('https://ip-api.com/json/?fields=61439')
    //         .then((res) => res.json())
    //         .then((res) => console.log(res))
    //        
    
    // fetch('https://ipapi.co/8.8.8.8/json/')
    // .then(function(response) {
    //   response.json().then(jsonData => {
    //     console.log(jsonData);
    //   });
    // })
    // .catch(function(error) {
    //   console.log(error)
    // });
    
    
    // fetch('https://ipapi.co/json/?fields=61439')
    // .then(function(response) {
    //     response.text().then(txt => {
    //         console.log(txt);
    //     });
    // })
    // .catch(function(error) {
    //     console.log(error)
    // });
    
    const ipEl = document.getElementById('ip');
    const cityEl = document.getElementById('city');
    const browserEl = document.getElementById('browser');
    const versionEl = document.getElementById('version');
    
    // Get IP and City
    fetch('https://ipapi.co/json/?fields=61439')
        .then((res) => res.json())
        .then((res) => {
            //ipEl.value = res.ip;
            console.log(res.ip)
            console.log(res.city)
            ipEl.value = res.ip;
            cityEl.value = res.city;
        })
    
    // Get Browser
    function get_browser() {
        var ua=navigator.userAgent,tem,M=ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
        if(/trident/i.test(M[1])){
            tem=/\brv[ :]+(\d+)/g.exec(ua) || [];
            return {name:'IE',version:(tem[1]||'')};
        }
        if(M[1]==='Chrome'){
            tem=ua.match(/\bEdg\/(\d+)/)
            if(tem!=null)   {return {name:'Edge(Chromium)', version:tem[1]};}
            tem=ua.match(/\bOPR\/(\d+)/)
            if(tem!=null)   {return {name:'Opera', version:tem[1]};}
        }
        M=M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
        if((tem=ua.match(/version\/(\d+)/i))!=null) {M.splice(1,1,tem[1]);}
        return {
            name: M[0],
            version: M[1]
        };
    }

    var browser=get_browser(); // browser.name = 'Edge(Chromium)'
                               // browser.version = '86'
    // console.log(browser.name);
    // console.log(browser.version);
    
     browserEl.value = browser.name;
     versionEl.value = browser.version;
     
    
    $(document).ready(function() {
        $('.manageUserSubNav').addClass('active');
    })
</script>