@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Manage users
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Manage users</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_1" data-toggle="tab">PTC-Computer</a>
                    </li>
                    <li>
                        <a href="#tab_2" data-toggle="tab">Rose</a>
                    </li>
                    <li class="pull-right">
                        <a href="#" class="text-muted">
                            <i class="fa fa-gear"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Username</th>
                                <th>IP Address</th>
                                <th>City</th>
                                <th>Browser Name</th>
                                <th>Browser Version</th>
                                <th>Logged in date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <table class="table table-bordered">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Task</th>
                                <th>Progress</th>
                                <th style="width: 40px">Label</th>
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td>Update software</td>
                                <td>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-red">55%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Clean database</td>
                                <td>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-yellow">70%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Cron job running</td>
                                <td>
                                    <div class="progress progress-xs progress-striped active">
                                        <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-light-blue">30%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Fix and squish bugs</td>
                                <td>
                                    <div class="progress progress-xs progress-striped active">
                                        <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
</section>

<script src="~/assets/bower_components/jquery/dist/jquery.min.js"></script>

<!-- add firebase CDN -->
<script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-database-compat.js"></script>

<script>
    
    const firebaseConfig = {
        databaseURL: "https://inventorymanageuserdb-default-rtdb.asia-southeast1.firebasedatabase.app"
    }
    firebase.initializeApp(firebaseConfig)
    const database = firebase.database();
    
    //const dataContainer = document.querySelector('tbody');
    
    // fetch data
    var fetchedData = database.ref('inventory-user/');
    fetchedData.on('value', (snapshot) => {
        var data = snapshot.val();
        var id = 0;
        
        var htmlData = '';
        for (var key in data) {
            var value = data[key];
            htmlData += `
                <tr>
                    <td>${++id}</td>
                    <td>${value.username}</td>
                    <td>${value.ip}</td>
                    <td>${value.city}</td>
                    <td>${value.browser}</td>
                    <td>${value.version}</td>
                    <td>${value.date}</td>
                    <td>
                        <button class="badge bg-red">Logout</button>
                    </td>
                </tr>
            `;
            
        }
        
        document.querySelector('tbody').innerHTML = htmlData;
    })

    $(document).ready(function() {
        $('.manageUserSubNav').addClass('active');
    })
</script>